.graydiv{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: #222;
  padding-bottom: 3rem;
}

.whitediv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 2vh;
  background-color: white;
  padding-bottom: 2vh;
}

.questiontext{
   position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}
.questionimg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: calc(30% - 20px);
}
@media (max-width: 1000px){
  .questiontext{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .questiontext h2{
    margin: 0;
  }
  .whitediv{
    padding-bottom: 0;
  }
  .questionimg{
    width: 100%;

  }
}